.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&display=swap');
/* navbar */
.myNavbar {
  font-family: 'Courgette', cursive;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
}

.homeCover {
  margin: 15px 15px !important;
}

.jumbotron {
  height: 400px;
  background-image: url('https://images.unsplash.com/photo-1544782321-8fab42cfd62e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-size: auto 100%;
  color: white;
  text-align: center;
  opacity: 0.9;
  font-family: 'Courgette', cursive;
}

.jumbotron p {
  margin-top: 5%;
}

.jumbotron h1 {
  margin-top: 3%;
  font-size: 50px;
}

.cocktailImg {
  border-radius: 50%;
  width: 175px;
}

.middle {
  transition: 0.5s easet;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cocktail:hover .cocktailImg {
  opacity: 0.7;
}

.cocktail:hover .middle {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}

.cocktail {
  text-align: center;
  padding: auto;
  font-size: 50px;
  font-weight: 800;
}

.divider {
  border-top: 5px solid rgb(117, 110, 110);
  border-radius: 10px;
  margin-top: 60px;
  width: 60%;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

/* Top 10, popular ...*/
.cocktailCategory {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Courgette', cursive;
}

.cocktailName {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

/* cocktailDetail */

.cocktailDetailName {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Courgette', cursive;
  /* font-family: 'Courgette', cursive; */
}

.cocktailDetailImg {
  border-radius: 10%;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.cocktailDetailInstruction {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}

.detailIngredientImg {
  border-radius: 10%;
  width: 105px;
  height: 105px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.detailTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  /* padding-top: 10px; */
  padding-bottom: 20px;
  color: rgb(88, 88, 88);
  font-family: 'Courgette', cursive;
}

.detailDivider {
  border-top: 4px solid rgb(117, 110, 110);
  border-radius: 3px;
  width: 65%;
}

.ingredientDescription {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 20px;
  /* padding-top: px; */
}

/* description button */

.btn-outline-info {
  font-weight: 500;
  color: black;
}

.footer {
  clear: both;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
}
