.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shadows+Into+Light&display=swap');

.myNavbar {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  font-weight: 800;
}

.img {
  border-radius: 50%;
  width: 150px;
}

.cucktail {
  text-align: center;
  padding: auto;
  font-size: 50px;
  font-weight: 800;
}
